body {
    text-align: center;
    background-color: rosybrown;
    font-family: 'Great Vibes', cursive;
    font-family: 'Pacifico', cursive;
}
header, .aboutMe, .techSkills{
    background-color: white;
    border: 5px solid silver;
    margin: 2%
}
h1, h2 {
    margin: 2%
}
img {
    border-radius: 0 20% 0 20%;
    float: left
}
